.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details .row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0.5rem 0;
}

.details .row > div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem  5rem;
  margin: 0.5rem  0.5rem;
}
